<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose an Option</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
</head>
<body>
    <div class="container">
        <h1>Choose an Option</h1>
        <div class="button-container">
            <button class="btn" id="login">Login</button>
            <button class="btn" id="register">Register</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/account.js') }}"></script>
</body>
</html>