<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose an Option</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/school.css') }}">
</head>
<body>
    <div class="container">
        <h1>Choose an Option</h1>
        <div class="button-container">
            <button class="btn" id="GetSchool">Get Public and Certificate</button>
            <button class="btn" id="verify">Verify File</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/Company.js') }}"></script>
</body>
</html>