<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student ID and Qualification Code Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CreateSchool.css') }}">
</head>

<body>
    <form id="student-id-and-qualification-code-form">
        <label for="schoolname">Your school must have certificate before register!</label>
        <label for="schoolname">Enter Your School Name:</label>
        <input type="text" id="schoolname" name="schoolname" placeholder="Enter your school name">
        <button type="submit">Create School</button>
    </form>
    <!-- Modal structure -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-message"></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/CreateSchool.js') }}"></script>
</body>
</html>
