<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verify.css') }}">
</head>
<body>
    <form id="student-id-and-qualification-code-form">
        <label for="qualification-code">Enter Qualification Code:</label>
        <input type="text" id="qualification-code" name="qualification-code" placeholder="Enter qualification code">
        <label for="qualification-code">Enter School Name:</label>
        <input type="text" id="school_name" name="qualification-code" placeholder="Enter qualification code">
        <label for="qualification-file">Choose Qualification File:</label>
        <input type="file" id="qualification-file" name="qualification-file" accept=".pdf, .doc, .docx">
        <label for="public-key-file">Choose Public Key File:</label>
        <input type="file" id="public-key-file" name="public-key-file">
        <button type="submit">Verify Qualifications</button>
    </form>
    <!-- Modal structure -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-message"></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/verify.js') }}"></script>
</body>
</html>
